
/* CSS Animations for Page Icons */

.img__wrap:hover .img-shift1 {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}

.img__wrap:hover .img-shift2 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* INDEX ICON Images tilting animation */
/* These are separate from img_wrap because I want the hover effect, and also edit what the image does without the hover. */
.img-shift1{
    width: 100%;
    margin-top: 75px;
    margin-left: -50px;
    border-radius: 5%;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;

}
.img-shift2{
    width: 100%;
    margin-top: -50px;
    margin-bottom: 20px;
    border-radius: 5%;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
 
}

/* INDEX icon labels CSS*/
.img__description {
    color: black;
    text-align: center; 
}

/* SIZING PARAMETERS for ICONS, LOGO, and IMGS start here */
@media (max-width: 768px) {

    .img__description {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: black;
        visibility: visible;
        text-align: center;
        opacity: 1;
    }

}

@media (max-width: 1500px) {
    #plushi-img {
        width: 22vw;
    }
    #logo-img {
        width: 22vw;
    }
    .img-shift {
        width: 100vw;
    }
}

@media (max-width: 992px) {
    #plushi-img {
        width: 28vw;
    }
    #logo-img {
        width: 28vw;
    }
    .img-shift {
        width: 70vw;
    }
}

@media (max-width: 768px) {
    #plushi-img {
        width: 35vw;
    }
    #logo-img {
        width: 35vw;
    }
    .img-shift {
        width: 70vw;
    }
}

@media (max-width: 576px) {
    #plushi-img {
        width: 70vw;
    }
    #logo-img {
        width: 70vw;
    }
    .img-shift {
        width: 70vw;
    }

}

/* <--CSS for CONTACT starts here--> */
.map{
    margin-right: 300px;
}
h3{
    margin-left: 40px;
}

form {font-family: Fira, sans serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 25px;
  box-sizing: none;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 500px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgba(223, 0, 0, 0.897);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #fad97f;
}

.send{
    padding: 15px;
}

.contact {
  border-radius: 5px;
  background-color: #ffc5cf;
  padding: 20px;
}

/* VIDEO css */

iframe{
    margin-left: 305px;
    margin-bottom: 25px;
}

/* FOOTER CSS starts here */

footer{
    padding: 10px;
    margin-left: 20px;
    margin-top: 50px;
    height: 20vh;
    width: 100%;
    color: #030202;
    opacity: 1;
    font-family: 'Archivo Black', sans-serif;
    background-image: url("../img/plushies.jpeg");

}

.fa:hover {
    opacity: 0.7;
    color: #0004e7;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    opacity: 1;
}

.fa-instagram{
    background: none;
    color: #000000;
    font-size: 70px;
    float: inline-end;
    margin-right: 40px;
    margin-left: 25px;
}

.fa-facebook {
    background: none;
    color: #000000;
    font-size: 70px;
    float: inline-end;
    margin-left: 0px;
}

html {
    height: 100vh;
}